
.DS_Store
/.vs/FantasyFootballMachineLearning/v15/.suo
mlnetFantasyFootballProjections/model/obj/*
FantasyFootballMachineLearning-1
mlnetFantasyFootballProjections/model/bin/*
mlnetFantasyFootballProjections/model/obj/*
mlnetFantasyFootballProjections/.vs/*
mlnetFantasyFootballProjections/api/obj/*
